body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
}

h1 {
  background-color: #5b9ea0; /* teal bar */
  color: white;
  padding: 10px;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

li {
  margin: 4px 0;
}

.link1 {
  background-color: lightgreen;
  color: white;
  padding: 14px 25px;
  text-align: center;
}
.link2 {
  background-color: lightyellow;
  color: white;
  padding: 14px 25px;
  text-align: center;
}
.link3 {
  background-color: lightblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
}
a:link {
  color: red;
}
a:visited {
  color: gray;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}
table, td, th {
border: 1px solid black;
  margin: 0 auto;

}
.table2 {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

caption {
  caption-side: top;
  font-style: italic;
  margin-bottom: 5px;
}

img {
  display: block;
  margin: 0 auto;
}