<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>HTML5 Links</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body>
    <div class="link1">
      <a href="https://myqu.qu.edu.sa/" target="_blank"
        >Go to QU website (open new tab)</a
      >
    </div>
    <div class="link2">
      <a href="https://myqu.qu.edu.sa/"
        >Go to QU website (open in the page/tab)</a
      >
    </div>
    <div class="link3">
      <a href="https://myqu.qu.edu.sa/"
        >Go to QU website (open in the same page/tab)</a
      >
    </div>
  </body>
</html>
